<form action="/signup" method="POST">
  <input type="Text" name="username" placeholder="Username">
  <input type="Text" name="email" placeholder="Email address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" id="submit" value="Sign up!">
</form>
