<form action="/links" method="POST">
  <input type="Text" name="title" placeholder="Title">
  <input type="Text" name="url" placeholder="url">
  <input type="Text" name="tags" placeholder="tags">
  <input type="submit" id="submit" value="Submit link">
</form>
