<form action='/users' method='post'>
	<% if @email %>
		<input type="email" name="email" value="<%= @email %>" required>
	<% else %>
		<input type="email" name="email" placeholder="email address" required>
	<% end %>
	<input type="password" name="password" placeholder="password">
	<input type="password" name="password_confirmation" placeholder="confirm password">
	<input type="submit" value="Submit">
</form>
