<form action='/users' method='post'>
	<% if @email %>
		<input type="text" name="email" value="<%= @email %>">
	<% else %>
		<input type="text" name="email" placeholder="email address">
	<% end %>
	<input type="password" name="password" placeholder="password">
	<input type="password" name="password_confirmation" placeholder="confirm password">
	<input type="submit" value="Submit">
</form>
