<html>
<head>
</head>
<body>

  <form action="/links" method="POST">
    <input type="Text" name="title" placeholder="Site name">
    <input type="Text" name="url" placeholder="URL">
    <input type="submit" id="submit" value="Create link">
  </form>

</body>
</html>
